<%- include("partials/header"); -%>
<h1>About</h1>
<br>
<!-- <p> <%= aboutContent %> </p> -->
<h4>What is the purpose of National Cyber Crime Reporting Portal?</h4>
<br>
<h5>In Simple way we can say that cyber crime is unlawful acts wherein the computer is either a tool or a target or both. Cyber crimes can involve criminal activities that are traditional in nature, such as theft, fraud, forgery, defamation and
  mischief, all of which are subject to the Indian Penal Code. The abuse of computers has also given birth to a gamut of new age crimes that are addressed by the Information Technology Act, 2000.</h5>
<br>
<h5>We can categorize Cyber crimes in two ways</h5>
<ul>
  <li>The Computer as a Target :-using a computer to attack other computers. e.g. Hacking,Virus/Worm attacks,DOS attack etc.</li>
  <li>Computer as a weapon :-using a computer to commit real world crimes.e.g. Cyber Terrorism, IPR violations,Credit card frauds,EFT frauds etc.
  </li>
</ul>
<br>
<h5>Cyber law (also referred to as cyberlaw) is a term used to describe the legal issues related to use of communications technology, particularly "cyberspace", i.e. the Internet. It is less a distinct field of law in the way that property or contract are as it is an intersection of many legal fields, including intellectual property, privacy, freedom of expression, and jurisdiction. In essence, cyber law is an attempt to integrate the challenges presented by human activity on the Internet with legacy system of laws applicable to the physical world.</h5>
<h5>For more information visit<a href="https://www.infosecawareness.in/cyber-laws-of-india#:~:text=In%20Simple%20way%20we%20can,to%20the%20Indian%20Penal%20Code.">“🔗</a></h5>
<%- include("partials/footer"); -%>
