<%- include("partials/header"); -%>
<h1>Contact</h1>
<!-- <p> <%= contactContent %> </p> -->

<!-- Start of table -->
<div class="row sub_content">

  <div id="ContentPlaceHolder1_sec2" class="col-lg-12 col-md-12 col-sm-12">

    <div class="alert" id="contactSuccess">
      <span id="ContentPlaceHolder1_lblMsg" class="control-label"></span>
    </div>

    <table style="width: 100%;">
      <tbody>
        <tr style="text-align: center; background-color: lightgray; width: 100%;">
          <td colspan="4"><b>State/UT Nodal Officer and Grievance Officer contact details</b>
          </td>
        </tr>
        <tr style="background-color: lightgray; width: 100%;">
          <td colspan="4">
            <br>
            Note: Complainant who registered complaint using "Report &amp; Track" option on the National Cyber Crime Reporting Portal,may contact the respective State/UT Nodal Officer or Grievance Officer if the response has not been appropriate.
          </td>
        </tr>

        <tr>
          <td style="width: 5px;">&nbsp;</td>
          <td style="text-align: center; width: 17px;">&nbsp;</td>
          <td style="width: 88px; text-align: center; background-color: burlywood;"><b>Nodal Cyber cell Officer</b></td>

          <td style="width: 90px; text-align: center; background-color: khaki;"><b>Grievance Officer Details</b></td>

        </tr>
        <tr>
          <td colspan="4">
            <div>
              <table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="4" rules="all" id="ContentPlaceHolder1_gv_nodalgrivance" style="border-width:1px;border-style:None;width:100%;border-collapse:collapse;">
                <tbody>
                  <tr style="color:#428BCA;background-color:#003399;font-weight:bold;">
                    <th scope="col" style="width:3%;">S.No</th>
                    <th scope="col" style="width:10%;">State/UT's</th>
                    <th scope="col" style="width:12%;">Name</th>
                    <th scope="col" style="width:4%;">Rank</th>
                    <th scope="col" style="width:20%;">Email</th>
                    <th scope="col" style="width:12%;">Name</th>
                    <th scope="col" style="width:3%;">Rank</th>
                    <th scope="col" style="width:8%;">Contact</th>
                    <th scope="col" style="width:20%;">Email</th>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      1
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_0">ANDAMAN &amp; NICOBAR</span>
                    </td>
                    <td>Shri Sanjay Kumar Jain, IPS</td>
                    <td>IGP</td>
                    <td>igp.and@nic.in</td>
                    <td>Shri Satyendra Garg, IPS</td>
                    <td>DGP</td>
                    <td>03192230216</td>
                    <td>dgp.and@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      2
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_1">ANDHRA PRADESH</span>
                    </td>
                    <td>Ms. G. Radhika</td>
                    <td>SP</td>
                    <td>cybercrimes-cid@ap.gov.in</td>
                    <td>Shri M.Sunil Kumar Naik IPS</td>
                    <td>DIGP</td>
                    <td>0863-2340183</td>
                    <td>cybercrimes-cid@ap.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      3
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_2">ARUNACHAL PRADESH</span>
                    </td>
                    <td>Dr.Hemant Tiwari</td>
                    <td>SP</td>
                    <td>spcr@arunpol.nic.in</td>
                    <td>Sh.Rake Ringu</td>
                    <td>IGP</td>
                    <td>9436040703</td>
                    <td>sit@arunpol.nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      4
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_3">ARUNACHAL PRADESH</span>
                    </td>
                    <td>Sh. Navdeep Singh Brar</td>
                    <td>SP</td>
                    <td>spcr@arunpol.nic.in</td>
                    <td>Sh. Take Ringu</td>
                    <td>DIGP</td>
                    <td>0360-2215518</td>
                    <td>sit@arunpol.nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      5
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_4">ASSAM</span>
                    </td>
                    <td>Shri Lachit Baruah, IPS</td>
                    <td>DIGP</td>
                    <td>digp-cid@assampolice.gov.in</td>
                    <td>Sh. Surendra Kumar</td>
                    <td>IGP</td>
                    <td>9957189034</td>
                    <td>igp-cid@assampolice.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      6
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_5">BIHAR</span>
                    </td>
                    <td>1.Sh. Pankaj Kumar </td>
                    <td>SP</td>
                    <td>cybercell-bih@nic.in</td>
                    <td>Sh. Shiv Kumar Jha</td>
                    <td>DIG</td>
                    <td>9470001373</td>
                    <td>dgp-bih@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      7
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_6">CHANDIGARH</span>
                    </td>
                    <td>Sh Omvir Singh Bishnoi</td>
                    <td>DIG</td>
                    <td>dig-chd@nic.in</td>
                    <td>Ms. Neha yadav </td>
                    <td>SP</td>
                    <td>9779580946</td>
                    <td>pssput-chd@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      8
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_7">CHHATTISGARH</span>
                    </td>
                    <td>Sh.Manish Sharma</td>
                    <td>AIG</td>
                    <td>aigtech-phq.cg@gov.in</td>
                    <td>Sh. Kavi Gupta </td>
                    <td>DSP</td>
                    <td>9479191785</td>
                    <td>cybercell-phq.cg@gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      9
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_8">DADRA &amp; NAGAR HAVELI</span>
                    </td>
                    <td>Shri Anuj Kumar, IPS</td>
                    <td>SP</td>
                    <td>sp-diu-dd@nic.in</td>
                    <td>Sh. Vikramjit Singh, IPS</td>
                    <td>DIGP</td>
                    <td>0260-2220140</td>
                    <td>digp-daman-dd@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      10
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_9">DAMAN &amp; DIU</span>
                    </td>
                    <td>Shri Anuj Kumar, IPS</td>
                    <td>SP</td>
                    <td>sp-diu-dd@nic.in</td>
                    <td>Sh. Vikramjit Singh, IPS</td>
                    <td>DIGP</td>
                    <td>0260-2220140</td>
                    <td>digp-daman-dd@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      11
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_10">DELHI</span>
                    </td>
                    <td>Sh Anyesh Roy</td>
                    <td>DCP</td>
                    <td>ncrp.delhi@delhipolice.gov.in</td>
                    <td>Mr. Prem Nath</td>
                    <td>Addl.CP</td>
                    <td>011-20892633</td>
                    <td>addlcp.cybertech@delhipolice.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      12
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_11">GOA</span>
                    </td>
                    <td>Sh.Sobhit saxena </td>
                    <td>SP</td>
                    <td>spcyber@goapolice.gov.in</td>
                    <td>Sh. Paramaditya</td>
                    <td>DIGP</td>
                    <td>0832-2420883</td>
                    <td>digpgoa@goapolice.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      13
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_12">GUJARAT</span>
                    </td>
                    <td>Sh. Saurabh Tolumbia</td>
                    <td>SP</td>
                    <td>cc-cid@gujarat.gov.in</td>
                    <td>Shri S.G. Trivedi</td>
                    <td>IGP</td>
                    <td>079-23250798</td>
                    <td>cc-cid@gujarat.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      14
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_13">HARYANA</span>
                    </td>
                    <td>Shri Pankaj Nain, IPS</td>
                    <td>SP</td>
                    <td>sp.crime2pkl@hry.nic.in</td>
                    <td>Shri Desh Raj Singh, IPS</td>
                    <td>ADGP (Crime)</td>
                    <td>7814641313</td>
                    <td>igp.crime@hry.nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      15
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_14">HIMACHAL PRADESH</span>
                    </td>
                    <td>Sh. Sandeep Dhawal</td>
                    <td>Addl.SP</td>
                    <td>polcyberps-shi-hp@nic.in</td>
                    <td>Sh. Anant Pratap Singh</td>
                    <td>IG</td>
                    <td>0177-2627955</td>
                    <td>anantpratap.singh@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      16
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_15">JAMMU &amp; KASHMIR</span>
                    </td>
                    <td>Sh Manish Kumar </td>
                    <td>IGP</td>
                    <td>igcrime-jk@nic.in</td>
                    <td>Sh. RR Swan</td>
                    <td>DGP</td>
                    <td>0191-25822926</td>
                    <td>adgpcidjk@jkpolice.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      17
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_16">JHARKHAND</span>
                    </td>
                    <td>Ms. Anil Kumar Jha </td>
                    <td>SP</td>
                    <td>spcyberps@jhpolice.gov.in</td>
                    <td>Sh. Ranjit Prasad(Retired)</td>
                    <td>IGP</td>
                    <td>06512490046</td>
                    <td>ig-orgcid@jhpolice.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      18
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_17">KARNATAKA</span>
                    </td>
                    <td>Sh M D SHARATH</td>
                    <td>SP (Cyber Crime Division)</td>
                    <td>sharath.md@gov.in</td>
                    <td>Sh. Ramesh</td>
                    <td>DIGP</td>
                    <td>080-22251817</td>
                    <td>digadmincod@ksp.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      19
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_18">KERALA</span>
                    </td>
                    <td>Sh Sreejith</td>
                    <td>IGP</td>
                    <td>ncrpkerala.pol@kerala.gov.in</td>
                    <td>Sh. Dr. Shaik Darvesh</td>
                    <td>ADGP</td>
                    <td>0471-2722215</td>
                    <td>adgpcrimes.pol@kerala.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      20
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_19">LADAKH</span>
                    </td>
                    <td>Ms. Nilza Angmo</td>
                    <td>DSP</td>
                    <td>itsec-phq@police.ladakh.gov.in</td>
                    <td>Shri Gaurav Mahajan</td>
                    <td>SP</td>
                    <td>9419182740</td>
                    <td>soto-igp@police.ladakh.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      21
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_20">LAKSHADWEEP</span>
                    </td>
                    <td>Sh Ramdulesh Meena</td>
                    <td>DSP</td>
                    <td>lak-sop@nic.in</td>
                    <td>Sh.Sharat Kumar Sinha , IPS</td>
                    <td>SP</td>
                    <td>04896-262258</td>
                    <td>lak-sop@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      22
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_21">MADHYA PRADESH</span>
                    </td>
                    <td>Sh Niranjan B Vayangankar</td>
                    <td>DIGP</td>
                    <td>mpcyberpolice@mppolice.gov.in</td>
                    <td>Smt. Aruna Mohan Rao</td>
                    <td>SPL DGP</td>
                    <td>0755-2770248</td>
                    <td>spl.dgp-cybercell@mppolice.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      23
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_22">MAHARASHTRA</span>
                    </td>
                    <td>Shri.Yasahsavi yadav </td>
                    <td>Sepical ,IGP</td>
                    <td>sp.cbr-mah@gov.in</td>
                    <td>Shri.Yasahsavi yadav </td>
                    <td>SPL IGP</td>
                    <td>022-22160080</td>
                    <td>ig.cbr-mah@gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      24
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_23">MANIPUR</span>
                    </td>
                    <td>Ms. Joyce Lalremmawi</td>
                    <td>SP</td>
                    <td>cidcb-mn@nic.in</td>
                    <td>Sh. Themthing Ngashangva</td>
                    <td>DIGP</td>
                    <td>0385-2450573</td>
                    <td>themthing.ng@gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      25
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_24">MEGHALAYA</span>
                    </td>
                    <td>V.S. Rathore, IPS</td>
                    <td>SSP</td>
                    <td>sspcid-meg@nic.in</td>
                    <td>D. P. Marak, IPS</td>
                    <td>DIGP</td>
                    <td>0364-2550141</td>
                    <td>dig.cid-meg@gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      26
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_25">MIZORAM</span>
                    </td>
                    <td>Sh. Neihchungnunga</td>
                    <td>DIG</td>
                    <td>cidcrime-mz@nic.in</td>
                    <td>Sh.S.B.K Singh</td>
                    <td>DGP</td>
                    <td>0389-2334682 </td>
                    <td>polmizo@rediffmail.com</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      27
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_26">NAGALAND</span>
                    </td>
                    <td>Sh Zekotso Mero</td>
                    <td>IGP</td>
                    <td>cybercrimeps-ngl@gov.in</td>
                    <td>Sh. Renchamo P. Kikon</td>
                    <td>ADGP</td>
                    <td>0370-2223897</td>
                    <td>renchamo.p@gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      28
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_27">ODISHA</span>
                    </td>
                    <td>Sh Bijay Kr Mallick</td>
                    <td>DSP</td>
                    <td>dirscrb.odpol@nic.in</td>
                    <td>Sh.Sarthak Sarangi</td>
                    <td>SP</td>
                    <td>0671-2306071</td>
                    <td>sp1cidcb.orpol@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      29
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_28">PUDUCHERRY</span>
                    </td>
                    <td>Sh. Rahul Alwal</td>
                    <td>SSP</td>
                    <td>cybercell-police.py@gov.in</td>
                    <td>Sh. Dr. VJ Chandran</td>
                    <td>DIGP</td>
                    <td>0413-2231386</td>
                    <td>dig.pon@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      30
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_29">PUNJAB</span>
                    </td>
                    <td>Ms.N.V Jagadale</td>
                    <td>AIG</td>
                    <td>aigcc@punjabpolice.gov.in</td>
                    <td>Sh.Naresh Kumar Arora IPS</td>
                    <td>ADIGP</td>
                    <td>0172-2218444</td>
                    <td>adgpprovisioning@punjabpolice.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      31
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_30">RAJASTHAN</span>
                    </td>
                    <td>Sh. Umesh Nitharwal</td>
                    <td>dy.SP</td>
                    <td>ccps-raj@nic.in</td>
                    <td>Sh. Digant Anand</td>
                    <td>SP </td>
                    <td>0141-2309547</td>
                    <td>ccps-raj@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      32
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_31">SIKKIM</span>
                    </td>
                    <td>Sh. Tenzing Lodan lepcha</td>
                    <td>SP</td>
                    <td>spcid@sikkimpolice.nic.in</td>
                    <td>Sh. Sonam Detchu Bhutia</td>
                    <td>DySP</td>
                    <td>03592-204297</td>
                    <td>spcid@sikkimpolice.nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      33
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_32">TAMIL NADU</span>
                    </td>
                    <td>Sh. Saroj kumar., SP (for OTHER CYBER CRIMES)</td>
                    <td>SP</td>
                    <td>sp1-ccdtnpolice@gov.in</td>
                    <td>Shri Shankar K.</td>
                    <td>IGP</td>
                    <td>044-29580300</td>
                    <td>sp1-ccdtnpolice@gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      34
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_33">TAMIL NADU</span>
                    </td>
                    <td>Tmt. A.Kayalvizhi (for Women and Children related)</td>
                    <td>SP</td>
                    <td>sp2cwc.dgp@tn.gov.in</td>
                    <td>Shri Shankar K.</td>
                    <td>IGP</td>
                    <td>044-28447620</td>
                    <td>sp1-cwctnpolice@gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      35
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_34">TELANGANA</span>
                    </td>
                    <td>Sh. Rajesh Kumar </td>
                    <td>DIG</td>
                    <td>ccps.cid@tspolice.gov.in</td>
                    <td>Smt. Swathi Lakra</td>
                    <td>IGP</td>
                    <td>040-23147604</td>
                    <td>igp_wpc@cid.tspolice.gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      36
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_35">TRIPURA</span>
                    </td>
                    <td>Sh. Ajit Pratap Singh</td>
                    <td> Dy.SP (Crime)</td>
                    <td>spcybercrime@tripurapolice.nic.in</td>
                    <td>Shri Subrata Chakraborty</td>
                    <td>AIGP,Crime</td>
                    <td>0381-2321741</td>
                    <td>aigcrime@tripurapolice.nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      37
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_36">UTTARAKHAND</span>
                    </td>
                    <td>Sh. Ajay Singh </td>
                    <td>SSP/STF</td>
                    <td>ccps.deh@uttarakhandpolice.uk.gov.in</td>
                    <td>Sh.Anshuman AP</td>
                    <td>IGP</td>
                    <td>0135-2712563</td>
                    <td>dgc-police-ua@nic.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      38
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_37">UTTAR PRADESH</span>
                    </td>
                    <td>Prof. Triveni Singh, IPS</td>
                    <td>DIG</td>
                    <td>sp-cyber.lu@up.gov.in</td>
                    <td>Sh.Ram Kumar</td>
                    <td>ADGP</td>
                    <td>0522-2390538</td>
                    <td>ccpsstf.gb-up@gov.in</td>
                  </tr>
                  <tr style="color:#003399;background-color:White;">
                    <td>
                      39
                    </td>
                    <td>

                      <span id="ContentPlaceHolder1_gv_nodalgrivance_lblState_38">WEST BENGAL</span>
                    </td>
                    <td>Sh. Mitesh Jain, IPS</td>
                    <td>DIG Cyber</td>
                    <td>ccpwb@cidwestbengal.gov.in</td>
                    <td>Sh. Anand Kumar, IPS</td>
                    <td>IG-CID</td>
                    <td>033-24506100</td>
                    <td>ig2@cidwestbengal.gov.in</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>



</div>
<!-- End of Table -->
<%- include("partials/footer"); -%>
